<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="nosto_cc" frontName="nosto_cc">
            <module name="MageSuite_NostoCC"/>
        </route>
    </router>
</config>
